@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'), url('./fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'FiraSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
}

.button {
  border: none;
  margin: 4px 4px 0 0;
  transition: background-color 0.2ms ease-in-out;
  background-color: #eee;
  font-family: 'FiraSans', sans-serif;
}

.button:active {
  background-color: #aaa;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
  align-items: center;
}

.flex.col {
  flex-direction: column;
  justify-items: center;
}

.text.large {
  font-size: 18px;
  font-weight: 600;
}

.text.medium {
  font-size: 14px;
  font-weight: 500;
}
